* {
  margin: 0;
  padding: 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
}

h1 {
  color: #09a369;
  font-family: Futura, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
}

h2 {
  color: #626363;
  font-family: Futura, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 200;
}

.input-login {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 3px;
  height: 30px;
  margin: 2px;
  padding: 5px;
  width: 300px;
}

button:disabled {
  background: #09a369;
  opacity: 0.4;
}

.login-btn {
  background-color: #09a369;
  border: 1px solid #09a369;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 6px;
  padding: 8px;
  width: 312px;
}

