header {
  align-items: center;
  background-color: rgb(236, 240, 241);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

input {
  border-radius: 5px;
  height: 25px;
  padding: 0.2rem;
}

.input-info-wallet {
  align-items: center;
  background-color: rgb(44, 62, 80);
  color: white;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding: 15px;
}

.btn-despesas {
  background-color: #09a369;
  border: 1px solid #09a369;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
}

.btn-despesas-click {
  background-color: rgb(241, 196, 15);
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
}

.section-table-wallet {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
}

th {
  width: 100px;
}

td {
  width: 100px;
}

.table-head-wallet {
  border: 1px solid gray;
  grid-auto-rows: minmax(50px, auto);
}

.table-info-wallet {
  grid-auto-rows: minmax(50px, auto);
  text-align: center;
}

.table-btn-edit {
  background: rgb(241, 196, 15);
  border: none;
  border-radius: 5px;
  color: white;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 3rem;
}

.table-btn-delete {
  background: red;
  border: none;
  border-radius: 5px;
  color: white;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 3rem;
}
